{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/warnings"
    ],
    "rules": {
        "indent": ["error", 4],
        "max-len": ["error", {
            "code": 140,
            "tabWidth": 4
        }],
        "space-before-blocks": "error",
        "no-multiple-empty-lines": ["error", {
            "max": 1,
            "maxBOF": 0,
            "maxEOF": 1
        }],
        "semi": [
            "error",
            "always"
        ],
        "no-extra-semi": "error",
        "no-multi-spaces": "error",
        "comma-spacing": [2],
        "no-console": ["warn"],
        "quotes": ["error", "single"],
        "space-before-function-paren": ["error", {"asyncArrow": "always", "named": "never"}],
        "space-in-parens": ["error", "never"],
        "func-call-spacing": ["error", "never"],
        "@typescript-eslint/no-unused-vars": 2,
        "no-trailing-spaces": "error",
        "object-curly-newline": ["error", {
            "consistent": true,
            "multiline": true
        }],
        "no-unused-vars": "error",
        "array-bracket-spacing": ["error", "never"],
        "no-alert": "error",
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "order": "asc"
                },
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    [
                        "parent",
                        "sibling",
                        "index"
                    ]
                ],
                "newlines-between": "always",
                "pathGroups": [
                    {
                        "group": "internal",
                        "pattern": "^features/|utils/|services/|types/|enums/",
                        "position": "after"
                    }
                ]
            }
        ],
        "object-curly-spacing": ["error", "never"]
    },
    "settings": {
        "import/internal-regex": "^features/|utils/services/|types/|enums/",
        "import/resolver": {
            "node": {
                "extensions": [".ts"],
                "moduleDirectory": ["node_modules", "src"]
            }
        }
    }
}